
/*-----------------------------RESET------------------------------*/
* {
    box-sizing: border-box;
}

body, h1, h2,h3, p, ul{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}
@media only screen and (max-width: 739px){
    .container{
        flex-direction: column;
        max-width: 300px;
    }
}
/*-----------------------------MENU------------------------------*/

.menu{
    background: #252525;
    padding: 15px;
}
.menu-logo{
    margin: 0 10px;
}
.menu-nav{
    margin: 0 10px;
    flex: 1;
    align-self: center;
}
.menu-nav ul{
    float: right;
    display: flex;
    list-style: none;
}
.menu-nav ul li a{
    color: #ffffff;
    font-size: 1.125em;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
}
@media only screen and (max-width: 739px){
    .menu-logo, .menu-nav{
        margin: 0;
    }
    .menu-nav{
        margin-top: 10px;
    }
    .menu-nav ul li a{
        padding-left: 0px;
    }
}
/*-----------------------------INTRO------------------------------*/

.intro{
    background: url('../img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    padding: 150px 0;
    text-align: center;
}
.intro h1{
    text-transform: uppercase;
    font-size: 3em;
}
.intro h1::after{
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #ffffff;
    margin: 10px auto;
}
.intro p{
    font-size: 1.125em;
    font-style: italic;
}
@media only screen and (max-width: 739px){
    .intro{
        padding: 60px 0;
    }
}

/*-----------------------------INTRO------------------------------*/
.about{
    padding: 60px 0;
}
.about h2{
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
}
.about-item{
    flex: 1;
    margin: 0 10px;
}
@media only screen and (max-width: 739px){
    .about-item{
        margin-left: 0;
        margin-right: 0;
    }
}
.about-item img{
    display: block;
    max-width: 100%;
}

.about-item h3{
    font-size: 2.25em;
    background: #252525;
    line-height: 1em;
    color: #ffffff;
    font-style: italic;
    text-transform: lowercase;;
    position: relative;
    width: 220px;
    padding: 5px 0 10px 0;
    top: -25px;
    text-align: center;
}
.about > p{
    font-size: 1.25em;
    line-height: 1.4em;
    font-style: italic;
    margin: 20px auto;
    max-width: 460px;
    text-align: center;
}

/*-----------------------------PRODUCTS------------------------------*/

.products{
    background: #e7e4d8;
    border-top: 5px solid #d6d3c8;
    border-bottom: 5px solid #d6d3c8;
    padding: 60px 0;
}
.products-item{
    flex: 1;
    margin: 0 10px 40px 10px;
}
.products-item h2{
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;
}

.products-item h2::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: currentColor;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 10px currentColor;
    margin: 20px auto;
}
.products-item:nth-child(1) h2::before{
    color: #492901;
}
.products-item:nth-child(2) h2::before{
    color: #c17139;
}
.products-item:nth-child(3) h2::before{
    color: #d7a54d;
}

.products-item p {
    font-size: 0.875em;
    line-height: 1.4em;
}

.products-btn{
    border: 3px solid;
    background: #e7e4d8;
    display: block;
    color: #252525;
    font-weight: bold;
    font-size: 1.125em;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s all ease;
    width: 180px;
    padding: 15px 0;
    margin: 20px auto 0 auto;
}
.products-btn:hover{
    background: #252525;
    color: #e7e4d8;
}
@media only screen and (max-width: 739px){
    .products-item{
        margin-left: 0;
        margin-right: 0;
    }
}

/*-----------------------------LOCAL------------------------------*/
.local{
    padding: 60px 0;
}
.local-item{
    margin-bottom: 40px;
}
.local-img, .local-info{
    flex: 1;
    margin: 0 10px;
}
.local-img img{
    max-width: 100%;
    display: block;
}
.local-item h2{
    font-size: 2.25em;
    margin-bottom: 20px;
    margin-top: 10px;
}
.local-item p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}
.local-item button{
    font-size: 1.125em;
    text-transform: uppercase;
    border: 4px solid;
    color: #252525;
    background: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: .5s all ease;
    padding: 10px 20px;
}
.local-item button:hover{
    background: #252525;
    color: #ffffff;
}
@media only screen and (max-width: 739px){
    .local-img, .local-info{
        margin-left: 0;
        margin-right: 0;
    }
}

/*-----------------------------SIGN------------------------------*/

.sign{
    background: #e7e4d8;
    padding: 30px 0;
}
.sign-info{
    flex: 1;
    margin: 0 10px;
}
.sign-info h2{
    font-size: 2.25em;
}
.sign-info p{
    font-size: 1.5em;
    font-style: italic;
}
.sign form{
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.sign form label{
    display: none;
}
.sign form input{
    flex: 1;
    align-self: flex-start;
    padding: 10px;
    border:3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none; 
}
.sign button{
    flex: 1;
    align-self: flex-start;
    padding: 13px;
    background: #252525;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
}
@media only screen and (max-width: 739px){
    .sign-info{
        margin: 0 0 20px 0;
    }
    .sign form{
        margin: 0;
    }
}

/*-----------------------------FOOTER------------------------------*/

.footer{
    background: #d6d3c8;
    padding: 40px 0;
}

.footer p{
    font-size: 1.125em;
    line-height: 1.4em;
    margin: 0 10px;
    flex: 1;
}

.footer-img{
    margin: 0 10px;
}
@media only screen and (max-width: 739px){
    .footer-img, .footer p{
        margin: 10px 0;
    }
}

